@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F4F4F3;
    font-family: "Montserrat", sans-serif;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links{
    list-style: none;
    padding-left: 40px;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
    font-weight: 700;
    font-size: 16px;
    color: #3A3A3A;
    text-decoration: none;
}
.nav__links li a:hover{
    color: #D0542F;
}
#pressed-pg{
    text-decoration: overline;
}
.cta{
    top: 40px;
    right: 80px;
    text-decoration: none;
    font-weight: 700;
    color: #3A3A3A;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#F4F4F3,#F4F4F3),radial-gradient(circle at top left,#D0542F,#048563);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.cta span{
    display: block;
    margin: 8px 22px;
}
.mainbody{
    width: 100%;
    height: 300%;
}
.inner{
    height: 70%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    color: #3A3A3A;
}
.inner h1{
    font-size: 45px;
    display: table;
    margin: 0 auto 2% auto;
}
.innertext h3{
    font-size: 24px;
    width: 100%;
    padding-left: 20%;
    padding-bottom: 2%;
}
.innertext h4{
    font-size: 20px;
    display: table;
    margin: 0 auto;
    padding-bottom: 1%;
}
/*List Example 1*/
.le1{
    margin: 1% 0 2% 0;
    border-collapse: collapse;
    width: 60%;
    display: table;
    margin: 0 auto 1.5% auto;
}
.le1 th{
    border: 1px solid #3a3a3a;
    text-align: center;
    padding: 8px;
    background-color: #3a3a3a;
    color: white;
}
.le1 td{
    border: 1px solid #3a3a3a;
    font-size: 14px;
    padding: 2% 0;
}
.le1 td:nth-child(1){
    text-align: center;
    width: 35%;
}
.le1 td:nth-child(2){
    padding-left: 5%;
}
/*List Example 2*/
.le2{
    margin: 1% 0 2% 0;
    border-collapse: collapse;
    width: 60%;
    display: table;
    margin: 0 auto 1.5% auto;
}
.le2 th{
    border: 1px solid #3a3a3a;
    text-align: center;
    padding: 8px;
    background-color: #3a3a3a;
    color: white;
}
.le2 td{
    border: 1px solid #3a3a3a;
    font-size: 14px;
    padding: 2% 0;
}
.le2 td:nth-child(1){
    text-align: center;
    width: 35%;
}
.le2 td:nth-child(2){
    padding-left: 5%;
}
/*List Example 3*/
.le3{
    width: 50%;
    border-collapse: collapse;
    border: 2px solid #3a3a3a;
    display: table;
    margin: 0 auto 1.5% auto;
}
.le3 th{
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 20px;
}
.le3 dl{
    padding: 1% 7% 3% 7%;
}
.le3 dt{
    font-size: 18px;
    padding-bottom: 1%;
}
.le3 dd{
    font-size: 16px;
    padding-left: 5%;
    padding-bottom: 1%;
}
/*List Example 4*/
figcaption{
    font-size: 18px;
    display: table;
    margin: 2% auto 1% auto;
    font-weight: 700;
}
.le4{
    width: 60%;
    border: 3px solid #3a3a3a;
    display: table;
    margin: 0 auto 1.5% auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border-radius: 3%;
}
.le4 li{
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(0, 0, 0, 0);
}
.le4 li b{
    background-color: rgb(0, 0, 0, 0);
}
.le4-list1, .le4-list2, .le4-list3{
    border: 2px dotted #3a3a3a;
    padding: 2% 1%;
    margin: 1% 5% 1% -4%;
    background-color: rgb(0, 0, 0, 0);
}
/*List Example 5*/
.le5{
    width: 35%;
    border: 7px double #048563;
    border-radius: 2%;
    display: table;
    margin: 0 auto 1.5% auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.le5 li{
    margin-left: 9%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.le5-list1{
    padding-bottom: 10px;
}

.btt{
    display: table;
    margin: 0% auto;
}
.btt img{
    height: 38px;
}
.btt-text{
    display: table;
    margin: 0% auto;
    font-size: 10pt;
    font-weight: 600;
}
body>#gblearn_message_holder{
    width: 100%;
    max-width: 960px;
    margin: 0 10%;
    display: block;
    margin-bottom: 20px;
    bottom: 0;
    font-size: 10pt;
}